<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zellis Application</title>
</head>
<body>
    {% csrf_token %}
    <div id="Zm">
        <h1>Zellis</h1>
        <div class="navbar-left">
        <h2><a href="{% url 'posts:home' %}">Home</h2>
        </div>
        <div class="navbar-right">
        {% if user.is_authenticated %}
        
        {% else %}

        {% endif %}
        </div> 
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
</body>
</html>
